
{% extends "base.html.twig" %}

{% block body %}

    
    <div class="container-fluid formulaire">
        <div class="container">

            <div class="d-flex justify-content-center">
                <img src="{{  asset('images/checked.svg') }}" alt="succès !" class="img_succes"/>
            </div>
            <div class="d-flex justify-content-center">

                <p class="formulaire_texte_succes">Votre demande de contact a bien été envoyée.</p>

            </div>
            
            <a href="/"><button type="button" class="btn btn-primary col-4 offset-4">Retourner à l'accueil</button></a>

        </div>
    </div>


{% endblock %}



