<h3>Une nouvelle demande de contact vient d'être envoyée !</h3>

<b>Nom : </b>{{ nom }}<br>
<b>Prénom : </b>{{ prenom }}<br>
<b>Sujet : </b>{{ sujet }}<br><br>

Pour voir la totalité de la demande de contact veuillez vous connecter sur la partie d'administation du site. ( <a href="http://{{ url }}/admin">Lien vers le panel )


