{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid formulaire">
        <div class="container">
            <div class="row">
                <div class="alert alert-danger col text-center" role="alert">
                    La page recherchée n'est pas accessible
                </div>
            </div>
            <a href="/"><button type="button" class="btn btn-primary col-4 offset-4">Retourner à l'accueil</button></a>
        </div>
    </div>
{% endblock %}